/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) { 
	
	}

	/* 2.  Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {		
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.logo {
			text-align: center;
		}
		.timesheet-item {
			margin: 0 0 10px 0 !important;
		}
		.timesheet-date-picker, .entry-client, .entry-owner {
			margin: 20px 0;
			display: block;
			width: 100%;
		}
		#menu-pm-menu li a {
			font-size: 2.5vw;
		}
	}

	/* 3.  Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	}

	/* 4. Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.gform_wrapper span.ginput_quantity_label {
			margin-left: 0 !important;
		}
		body.page-id-489 .page-wrapper li {
			font-size: 12px;
			line-height: 18px;
			padding: 0 !important;
		}
		body.page-id-489 li a:hover {
			box-shadow: 0px 0px 5px 6px #FFF;
		}
		#menu-pm-menu li {
			width: 50%;
		}
	}